@model IEnumerable<BusinessObject.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>eStore xin kính chào quý khách</h1>
<h4>@ViewBag.Message</h4>
<h5><a href="Shopping/Cart">View Cart</a></h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>Add To Card</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    <form asp-controller="Shopping" asp-action="AddToCart" method="get">

                        <input type="number" min="1" step="1" max="@Html.DisplayFor(modelItem => item.UnitsInStock)" name="quantity1" value="1"/>

                        <input type="hidden" value="@Html.DisplayFor(modelItem => item.ProductId)" name="id1" />

                        <input type="submit" value="Add to cart" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
