@using Utils
@model IEnumerable<BusinessObject.Order>

@{
    ViewData["Title"] = "Index";
    string role = CustomAuthorization.Role();
    Layout = "~/Views/Shared/_Layout" + role + ".cshtml";
}

<h1>Index</h1>
<h4>@ViewBag.Message</h4>
@if(role == "ADMIN")
{
    <p>StartDate:<input id="startInput" type="date"/></p>
    <p>EndDate: <input id="endInput" type="date"/></p>
    <form id="formReport" method = "post" asp-action = "ReportDate" display="none">

    </form>
    <input type="button" value="Report" class="btn btn-primary" onClick="report()"/>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
function report() {
    let startInput = document.getElementById('startInput');
    let endInput = document.getElementById('endInput');
    console.log(startInput.value);

    var form = document.getElementById("formReport");

    var startDateField = document.createElement("input");
     startDateField.setAttribute("type", "text");
     startDateField.setAttribute("name", "startDate");
     startDateField.setAttribute("value", startInput?.value || new Date(0).toISOString().split('T')[0]);


     var endDateField = document.createElement("input");
     endDateField.setAttribute("type", "text");
     endDateField.setAttribute("name", "endDate");
     endDateField.setAttribute("value", endInput?.value || new Date().toISOString().split('T')[0]);

     // create a submit button
    var s = document.createElement("input");
    s.setAttribute("type", "submit");
    s.setAttribute("value", "Submit");

    form.appendChild(startDateField);
    form.appendChild(endDateField);
    form.appendChild(s);
    form.submit();
}
</script>